.footer {
  color: var(--text-color-one);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--bg-color-two);
  margin-top: -5px;
}

.siga {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap:0.5rem;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  text-align: center;
  color: var(--text-color-three);

  .redes-sociais {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
  }

  svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: var(--text-color-three);

    &:hover {
      animation: translateY 0.5s infinite alternate ease-in-out;
    }

    @keyframes translateY {
      from {
        transform: translateY(0) scale(1);
      }
      to {
        transform: translateY(-0.5rem) scale(1.1);
      }
    }
  }
}

.abertura {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--text-color-three);
  }
}

.contato {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  font-size: 1.5rem;

  svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: var(--text-color-three);

    &:hover {
      animation: translateY 0.5s infinite alternate ease-in-out;
    }

    @keyframes translateY {
      from {
        transform: translateY(0) scale(1);
      }
      to {
        transform: translateY(-0.5rem) scale(1.1);
      }
    }
  }

  p {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--text-color-three);
  }
}
