.para-empresas {
  font-family: 'Livvic', sans-serif;
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 3rem;
}

.logo-empresas {
  margin: 10% 0 0 3rem;
  width: 60%;
  margin-bottom: 2rem;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &:hover {
    animation: translateY 0.5s infinite alternate ease-in-out;
  }

  @keyframes translateY {
    from {
      transform: translateY(0) scale(1);
    }
    to {
      transform: translateY(-0.5rem) scale(1.1);
    }
  }
}

.partecima {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.partecentral {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin-top: 5%;
  width: 50%;

  div h1 {
    color: var(--text-color-two);
    text-align: center;
    font-size: 1.6rem;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  position: relative;

  h2 {
    color: var(--bg-color-two);
    padding: 1rem;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
  }

  .preenchimento {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    gap: 0.3rem;
  }

  .preenchimento span {
    color: #ff0000;
    font-size: 1.1rem;
  }

  .preenchimento p {
    color: var(--text-color-one);
    font-size: 1.25rem;
    text-decoration: underline;
  }
}

.formulario form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 2rem;

  label span {
    color: #ff0000;
    font-size: 1.1rem;
  }
}

.formulario label {
  color: var(--text-color-two);
  font-weight: 500;
  font-size: 1.2rem;
}

form input {
  background-color: var(--bg-color-two);
  font-size: 1.2rem;
  padding: 0.3rem;
  border-radius: 10px;
  width: 100%;
  border: none;
}

.formulario input::placeholder {
  color: var(--text-color-three);
  font-weight: 500;
}

.formulario input:focus {
  border: none;
  box-shadow: 0 0 5px 5px rgba(255, 230, 0, 0.322);
  outline: 1px solid var(--bg-color-two);
  outline-offset: 2px;
}

.formulario input:enabled {
  padding-left: 1rem;
}

.helper-text {
  color: #ff0000;
}

.btn-enviar {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.btn-submit {
  background-color: var(--bg-color-two);
  border: 1px solid transparent;
  width: 30%;
  border-radius: 10px;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  padding: 0.5rem 2rem;
  color: var(--bg-color-one);
}

.btn-submit:hover {
  background-color: transparent;
  color: var(--text-color-four);
  border: 1px solid rgba(255, 255, 0, 1);
}

.img2 {
  margin: 2rem 1rem;
}
