:root {
    --bg-color-one: rgba(0, 0, 0, 0.8);
    --bg-color-two: rgb(211, 191, 38);
    --text-color-one: rgba(255, 255, 255, 0.8);
    --text-color-two: rgba(255, 255, 255, 1);

    --bg-button: 
}