:root {
    --bg-color-one: rgb(0, 0, 0);
    --bg-color-two: rgb(211, 191, 38);
    --text-color-one: rgba(255, 255, 255, 0.8);
    --text-color-two: rgba(255, 255, 255, 1);
    --text-color-three: rgb(0, 0, 0);

    --bg-button: 
}