@use './partials/colors' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Livvic', sans-serif;
  scroll-behavior: smooth;

  h1 {
    color: var(--text-color-one);
  }
}

body {
  background-color: var(--bg-color-one);
}
